.Article {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-body-container {
  display: flex;
  justify-content: center;
}

.article-detail-container {
  display: flex;
  flex-direction: column;
  margin: 30px;
  width: 80%;
}

.article-detail-title {
  font-size: 3rem;
  margin-bottom: 20px;
}
.article-detail-information {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.article-detail-date {
  margin-bottom: 40px;
}

.article-detail-text {
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 300;
}
.comments-body-container {
  display: flex;
  justify-content: center;
}
.comments-detail-container {
  width: 80%;
  justify-self: center;
}

@media (max-width: 740px) {
  .article-detail-title {
    text-align: center;
  }
  .article-detail-text {
    font-size: 1.3rem;
  }
}
