.Nav {
  background-color: #ff2e63;
  color: #eaeaea;
  font-family: 'Raleway', sans-serif;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: min-content;
  align-items: center;
  justify-items: center;
}

.nav-title-link {
  text-decoration: none;
  color: #eaeaea;
  display: flex;
  align-self: center;
  justify-self: center;
  margin: 10px;
}

.nav-title {
  font-size: 4rem;

  text-decoration: none;
  text-align: center;
}
.nav-title:hover {
  color: #08d9d6;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
}
.nav-topic-container {
  display: flex;

  align-self: end;
  justify-self: center;
  justify-content: center;
  margin: 10px;
}

.nav-topic {
  font-size: 2rem;
  background-color: #ff2e63;
  border: none;
  color: #eaeaea;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
.nav-topic:hover {
  color: #08d9d6;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
}

.nav-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  text-align: center;
}

.nav-user {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-user-profile-link {
  text-decoration: none;
  color: #eaeaea;
  width: 200px;
  height: 60px;
  margin: 5px;
  background-color: #252a34;
  border-radius: 6px;
}
.nav-user-profile-link:hover {
  cursor: pointer;
  background-color: #eaeaea;
  color: #252a34;
}
.nav-user-profile-text {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 740px) {
  .Nav {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content, min-content;
  }
  .nav-title-link {
    grid-area: 1 / 1 / 2 / 3;
    order: 1;
  }
  .nav-topic-container {
    order: 2;
  }
  .nav-profile-container {
    order: 3;
  }

  .nav-user-profile-link {
    width: 160px;
    height: 40px;
  }
}
