.ProfileContentCard {
  display: grid;
  background-color: #eaeaea;
  color: #252a34;
  font-family: 'Raleway', sans-serif;
  grid-template-columns: min-content 5fr 2fr;
  height: min-content;
  grid-template-rows: 1fr min-content;
  grid-template-areas:
    'card-vote card-body card-body'
    'card-vote card-author card-author';
  padding: 30px;
  border-radius: 6px;
  box-sizing: border-box;
  justify-content: center;
  border: 1px #252a34 solid;
  margin-bottom: 20px;
}

.profile-card-vote-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-area: card-vote;
  padding-right: 30px;
}

.profile-card-vote-count {
  height: 40px;
  align-self: center;
  font-size: 2rem;
}

.profile-card-link {
  text-decoration: none;
  color: #252a34;
  grid-area: card-body;
}

.profile-card-text {
  font-size: 1.4rem;
  font-weight: 400;
}

.profile-card-text:hover {
  color: #ff2e63;
  cursor: pointer;
}

.profile-card-author {
  grid-area: card-author;
  justify-self: end;
  align-self: flex-end;
}

@media (max-width: 740px) {
  .profile-card-author {
    margin-top: 20px;
  }

  .profile-card-text {
    font-size: 1.2rem;
  }
}
