.UserProfile {
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  gap: 20px;
}
.user-profile-user-details-body {
  width: 80%;
  align-self: center;
}
.user-profile-user-details-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(1fr, 3);
  grid-template-areas:
    'user-name user-name user-image'
    'user-votes user-votes user-image'
    'user-votes user-votes user-image';
}

.user-profile-username-title {
  grid-area: user-name;
}

.user-profile-image {
  grid-area: user-image;
}

.user-profile-votes-container {
  grid-area: user-votes;
}

.user-profile-user-comment-votes {
}

.user-profile-user-article-votes {
}

.user-profile-display-select {
  width: 300px;
  height: 40px;
  align-self: center;
}

.user-profile-cards-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-profile-cards-container {
  width: 80%;
}

.user-profile-individual-card-container {
  display: flex;
  flex-direction: column;
}

.user-profile-card-delete-button {
  font-size: 1rem;
  height: 40px;
  width: 120px;
  border-radius: 6px;
  align-self: flex-end;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  border: #eaeaea 1px solid;
  color: #eaeaea;
  background-color: #ff2e63;
  align-self: flex-end;
  margin-bottom: 20px;
}

.user-profile-card-delete-button :hover {
  background-color: #fff;
  color: #ff2e63;
  border: #ff2e63 1px solid;
}

.user-profile-card-delete-button :active {
  background-color: #ffa8be;
  color: #eaeaea;

  border: #eaeaea 1px solid;
}
