body {
  margin: 0;
  font-family: 'Raleway', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eaeaea;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.icon-attribution {
  font-size: 0.9rem;
  color: #fff;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 10px;
}

.attribution-link {
  text-decoration: none;
  color: #fff;
}
